*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #1A1A1A, #343434);
    min-height: 100vh;
    font-family: 'Titan One';
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 50px 0px;
    border-bottom: solid 2px #B4B4B4;
    background-image: linear-gradient(15deg, #292929, #343434);
}

.logo_container {
    width: 30%;
    height: 80px;
}

.logo {
    height: 80px;
}

.title {
    width:40%;
    font-family: 'Titan One';
    font-size: 1.5em;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 4px 4px 4px #000,
                 4px -4px 4px #000,
                 -4px 4px 4px #000,
                 -4px -4px 4px #000;
}

.btn_login_container{
    width: 30%;
    text-align: center
}

.btn_login{
    font-family: 'Titan One';
    background-color: coral;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.5s;
    color: white;
    text-shadow: 2px 2px 2px #000,
                 2px -2px 2px #000,
                 -2px 2px 2px #000,
                 -2px -2px 2px #000;
}

.btn_login:hover {
    background-color: #FFA726;
    cursor: pointer;
    font-size: 1.1em;
}

/* ---------------------- Clients Section ---------------------------------------------*/

.clients_container{
    display: flex;
    justify-content: center;
    margin: 90px auto 0px auto;
    width: 75%;
    flex-wrap: wrap;
    padding: 20px;
}

.clients{
    margin: 10px;
    text-align: center;
    padding: 10px;
    height: 80px;
    width: 200px;
    border: solid 2px black;
    overflow: hidden;
    text-overflow: '****';
    border-radius: 20px;
    background-color: darkorange;
    box-shadow: 5px 5px 10px black;
}

.client_name{
    font-family: 'Titan One', cursive;
}

.client_bio{
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
}

/* ---------------------- Footer ---------------------------------------------*/
.footer {
    margin-top: auto;
    font-size: 20px;
    width: 100%;
    border-top: solid 2px #B4B4B4;
    text-align: center;
    padding: 30px 0px;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0deg, #ffffff, #737373);
}


/* ---------------------- Modal ---------------------------------------------*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5em;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    font-family: 'Titan One';
    color: white;
    width: 300px;
    height: 50%;
    top: 25%;
    position: relative;
    margin: auto;
    padding: 15px 20px;
    background-image: linear-gradient(15deg, coral, #995400);
    border: solid 3px black;
    text-shadow: 3px 3px 1px #000,
                 3px -3px 1px #000,
                 -3px 3px 1px #000,
                 -3px -3px 1px #000;
}

.modal > div > div {
    margin: 35px;
}

.modal > div > div > input{
    margin: 6px 0px;
    transform: translateY(-3px);
    height: 30px;
    width: 160px;
    border: solid 2px black;
    box-shadow: 3px 3px 2px black;
    font-family: fantasy;
    text-align: center;
}

.close {
    font-family: Arial;
    position: absolute;
    width: 30px;
    padding: 6px 0px;
    right: -15px;
    top: -20px;
    text-align: center;
    margin-top: 5px;
    background: coral;
    border-radius: 50%;
    border: solid 3px black;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px #000,
                 1px -1px 1px #000,
                 -1px 1px 1px #000,
                 -1px -1px 1px #000;
}

.pass_container {
    margin-bottom: 80px;
}

