{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
    <main>
        <div class="clients_container">
            {% if clients %}
                {% for client in clients %}
                    <section class="clients">
                        <div class="client_name">{{client.first_name}} {{client.last_name}}, {{client.age}}</div>
                        <div class="client_bio">{{client.bio}}</div>
                    </section>
                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}