{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block main %}
    <form class="search_form" method="get">
        {% csrf_token %}
        <div class="search_container">
            <input type="text" name="search_input" id="search_input" placeholder="Search Product">
            <button type="submit" class="lupa"><img src="{% static 'lupa.png' %}"></button>
        </div>
    </form>
    {% if user.is_authenticated %}
        <a href="{% url 'add_product_url' %}" class="add_product">+ Add Person </a>
        <div class="clients_container">
            {% if clients %}
                {% for client in clients %}
                    <a href="{% url 'update_url' client.id %}">
                        <section class="clients">
                            <img class="client_image" src="https://leftward-django-project.s3.amazonaws.com/static/{{client.image}}">
                            <div class="client_name">{{client.first_name}} {{client.last_name}}, {{client.age}}</div>
                            <div class="client_bio">{{client.bio}}</div>
                        </section>
                    </a>
                {% endfor %}
            {% else %}
                <img class="nothing_found" src="{% static 'nothing_found.png' %}">
            {% endif %}
        </div>
    {% else %}
        <div class="clients_container">
        {% if clients %}
            {% for client in clients %}
                <section class="clients">
                    <img class="client_image" src="https://leftward-django-project.s3.amazonaws.com/static/{{client.image}}">
                    <div class="client_name">{{client.first_name}} {{client.last_name}}, {{client.age}}</div>
                    <div class="client_bio">{{client.bio}}</div>
                </section>
            {% endfor %}
        {% else %}
            <img class="nothing_found" src="{% static 'nothing_found.png' %}">
        {% endif %}
    </div>
    {% endif %}

{% endblock %}